h1 {
    text-align: center;
    Background-color: #2FFB01;
    color: #FB7E00;
}
h2{
    color: #FB7E00;
    font-family: Arial, Helvetica, sans-serif;
}
.thin-orange-border{
    border-color: #FB7E00;
    border-width: 5px;
    border-style: solid;
}
.green-background{
    background-color: #2FFB01;
}
#link{
    text-align: center;
}
#smallImage{
    width: 100px;
    border-color: #FB7E00;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}
#button{
    text-align: center;
}
#banner {
    max-width: 100%;
    height: auto;
}
